.nav-container {
    display: grid;
    background-color: rgb(246, 249, 252);
    padding: 10px 10px;
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    grid-template-columns: 1fr repeat(3, fit-content(100px));
}

