.master-wrapper {
    filter: drop-shadow(0 0 1rem rgb(90, 93, 122));
}

.project-card-header {
    text-align: center;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;

}

.project-card-header h2 {
    padding: 10px 10px;
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    font-size: 25px;
    background-color: rgb(116, 127, 224);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: rgb(255, 255, 255);

}

.project-card-container {
    color: rgb(82, 95, 127);
    text-align: center;
    margin: 0 auto;
    max-width: 900px;
    width: 100%;
    height: fit-content;
    padding: 20px 20px;
    background-color: #FFFFFF;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.project-desc-container {
    display: grid;
    grid-template-columns: 60% 40%;
}


.project-desc {
    padding-left: 20px;  
}

.project-desc h4 {
    font-family: 'Nunito', sans-serif;
    text-align: left;
    font-size: 16px;
}


.project-img img {
    border-radius: 5px;
    height: 500px;
    width: 500px;
    object-fit: fill;
    box-shadow: 0 1px 2px rgba(0, 0, 0,0.07), 0 1px 1px rgba(0,0,0.07);
    image-rendering: -webkit-optimize-contrast;
    filter: drop-shadow(0 0 .2rem rgb(90, 93, 122));
}


.project-skill-labels {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    background-color: rgb(90, 93, 122);
    border-radius: 40px;
    filter: drop-shadow(0 0 .2rem rgb(90, 93, 122));
    box-shadow: 0 1px 2px rgba(0, 0, 0,0.07), 0 1px 1px rgba(0,0,0.07);
}

.skill-logo-container {
    background-color: rgb(48, 47, 65);
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    

}

.skill-logo-html {
    color: rgb(221, 75, 37);
}

.skill-logo-css {
    color: rgb(37, 75, 221);
}

.skill-logo-js {
    color: rgb(239, 216, 29);
}

.skill-logo-react {
    color: rgb(0, 217, 255);
}


.project-buttons-container {
    display: flex;
    justify-content: center;
    background-color: rgb(90, 93, 122);
    border-radius: 5px;
    margin-top: 10px;
    filter: drop-shadow(0 0 .2rem rgb(90, 93, 122));
    box-shadow: 0 1px 2px rgba(0, 0, 0,0.07), 0 1px 1px rgba(0,0,0.07);

}

.project-button {
    margin: 20px 10px;
    transition-timing-function: ease-in-out;
}

.project-button:hover {
    transform: scale(1.1);
}

@media only screen and (max-width: 800px) {

    .master-wrapper {
        padding-left: 20px;
        padding-right: 20px;
    }


    .project-desc-container {
        display: flex;
        flex-direction: column;
    }

    .project-img {
        border-right: none;
    }

    .project-img img {
        width: 100%;
        height: 500px;
        margin-bottom: 10px;
    }

    .project-desc {
        border-top: 5px solid rgb(90, 93, 122);
        border-left: none;
        padding-top: 20px;
    }
}