.terminal-wrapper {
    background-color: rgb(246, 249, 252);
    padding: 20px 40px;
}

.terminal-container {
    background-color: rgb(24, 24, 24);
    height: fit-content;
    width: 100%;
    max-width: 900px;
    border-radius: 20px;
    margin: 0 auto;
    filter: drop-shadow(0 0 1rem rgb(90, 93, 122));
}

.header-bar {
    background-color: rgb(73, 71, 66);
    height: 2.2rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.header-dots-container {
    float: left;
    padding: 8px 10px;
}

.header-dots-close {
    display: inline-block;
    margin-left: 10px;
    border-radius: 50%;
    height: .90rem;
    width: .90rem;
    background-color: rgb(249, 98, 86);
}

.header-dots-min {
    display: inline-block;
    margin-left: 10px;
    border-radius: 50%;
    height: .90rem;
    width: .90rem;
    background-color: rgb(253, 188, 61);
}

.header-dots-open {
    display: inline-block;
    margin-left: 10px;
    border-radius: 50%;
    height: .90rem;
    width: .90rem;
    background-color: rgb(51, 201, 72);
}

.terminal-text {
    padding: 20px 20px;
    color: lime;

}

.comment {
    color: gray;
}

.terminal-text h4 {
    font-size: 17px;
    font-family: 'Inconsolata', monospace;
    align-height:
}


.blinker-square {
    vertical-align: text-top;
    display: inline-block;
    background-color: lime;
    height: 20px;
    width: 12px;
    animation: blinker .45s infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}